.product-image-carousel {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.product-image-carousel__container {
  height: 100%;
  overflow: hidden;
}

.product-image-carousel__track {
  will-change: transform;
}

.product-image-carousel__item {
  width: 100%;
  background-color: #f5f5f5;
}

.product-image-carousel__image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  pointer-events: none;
}

.product-image-carousel__video {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  pointer-events: none;
}
